<span class="" clear"">
    <span class="" block m-t-xs"">
        <strong class="" font-bold"">@ViewBag.Nom</strong>
    </span>
    <span class="" text-muted text-xs block"">@ViewBag.News <b class="" caret""></b></span>
</span>
